@using Microsoft.AspNet.Identity
@using Task_MessageRepo.Models
@*@model Task_MessageRepo.Models.ApplicationUser*@
@model IEnumerable<ApplicationUser>
@*@model List<string>*@


@{
    ViewBag.Title = "Home Page";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
</head>

<h3>Hello @User.Identity.GetUserName() !</h3>

<div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <input type="hidden" name="@User.Identity.GetUserName()" />
        @* @Html.HiddenFor(m => m.UserName)
            @Html.TextBox("Name", User.Identity.GetUserName())*@
        @*@Html.TextBox(User.Identity.Name, "Enter name")*@

        @Html.Label("enter a message") <br />
        <input type="text" name="LastMessage" />
        <p><input type="submit" value="Send message" /></p>
    }
</div>

<div class="table">
    <h3>List of Users</h3>
    <table>
        <tr>
            <td><p>Id</p></td>
            <td><p>Name</p></td>
            <td><p>Message</p></td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var v in ViewBag.Customers)
        {
            <tr>
                <td><p>@v.Id</p></td>
                <td><p>@v.UserName</p></td>
                <td><p>@v.LastMessage</p></td>
                <td><p><a href="/Home/ViewMyMessages/@v.Id">View all users</a></p></td>
                <td><p><a href="/Home/DeleteFromBase/@v.Id">Delete</a></p></td>
            </tr>
        }
    </table>
</div>

@*<div>
        <h3>Messages</h3>
        <table>
            <tr>
                <td><p>Message</p></td>
            </tr>
            @foreach(var m in Model)
            {
                <tr>
                    <td><p>@m.LastMessage</p></td>
                </tr>
            }
        </table>
    </div>*@
